

:root {

    --branco-principal: #FFFFFF;    
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: Inter;
    
    
    }
    
    
    body{:root {
    
    --branco-principal: #FFFFFF;    
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: Inter;
    
    
    }
    
    
    body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
    }
    
    * {
        margin: 0;
        padding: 0;
       }
    
    /* INICIO AULA 02 */
    .principal {
    
        background-image: url("img/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
        
    }
    
    
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    
       }
    /*  FIM AULA 03 */
    
    
    
    /*   INICIO AULA 04  */
    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        /*   alterado  padding: lem; */
        padding: 2%;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        margin-bottom: none;
    
    }
    
    /* FIM DA AULA 4 */
    
    .botao_secundario {
        background-color: transparent;
        border: 2px solid var(--branco-principal);
       }
    
    
    .container__aviso{
        font-size: 12px;
        color: var(--cinza-secundario);
    }
    
    .container__titulo{
        font-size: 28px;
        font-weight: 700;
    }
    
    
    /* FIM DA AULA 4 */
    .container__imagem{
        margin: lem 0 2em 0;
    }
    
    .container__caixa{
        margin: 0 6em;
    }
    
    
    
    .secundario__imagem {
    
        width: 80%;
    }
    
    .secundario {
        align-items: center;
        margin:0 10em;
    }
    
    
    .descricao__titulo {
        font-weight: 700;
        font-size: 48px;
        color:var(--branco-principal);
        margin-bottom: 0.1em;
    }
    
    
    .descricao__texto {
        color: var(--cinza-secundario);
    
        
    }
    
    
    
    .secundario__botao {
    display: inline-block;
    margin-top: 1em;
    
    }
    
    
    .container__descricao {
        padding: 2em;
    
    }
    
    .dispositivos__lista { 
    
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
        
    }
    
    .dispositivos {
        text-align: center;
    
    }
    
    .lista__item {
        font-size: 32px;
        color:var(--branco-principal);
    
    }
    
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
    }
    
    * {
        margin: 0;
        padding: 0;
       }
    
    /* INICIO AULA 02 */
    .principal {
    
        background-image: url("img/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
        
    }
    
    
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    
       }
    /*  FIM AULA 03 */
    
    
    
    /*   INICIO AULA 04  */
    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        /*   alterado  padding: lem; */
        padding: 2%;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        margin-bottom: none;
    
    }
    
    /* FIM DA AULA 4 */
    
    .botao_secundario {
        background-color: transparent;
        border: 2px solid var(--branco-principal);
       }
    
    
       .container__aviso{
           font-size: 12px;
           color: var(--cinza-secundario);
    }
    
    .container__titulo{
        font-size: 28px;
        font-weight: 700;
    }
    
    
    /* FIM DA AULA 4 */
    .container__imagem{
        margin: lem 0 2em 0;
    }
    
    .container__caixa{
        margin: 0 6em;
    
    
        .container__aviso{
            font-size: 12px;
            color: var(--cinza-secundar
    }
    
    
    
    .secundario__imagem {
    
        width: 80%;
    }
    
    .secundario {
        align-items: center;
        margin:0 10em;
    }
    
    
    .descricao__titulo {
        font-weight: 700;
        font-size: 48px;
        color:var(--branco-principal);
        margin-bottom: 0.1em;
    }
    
    
    .descricao__texto {
        color: var(--cinza-secundario);
    
        
    }
    
    
    
    .secundario__botao {
    display: inline-block;
    margin-top: 1em;
    
    }
    
    
    .container__descricao {
        padding: 2em;
    
    }
    
    .dispositivos__lista { 
    
        display: !DOCTYPE html>
        <html lang="en">
        <head>
            <title>Alura Plus</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="style.css">
        
            <!-- Aula 05 -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="mg/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
            <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
            <!-- AULA 4 COLOCAR -->
            <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
            <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
            mg/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
            <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
            <!-- AULA 4 COLOCAR -->
            <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
            <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
            preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
        
            
        </head>
        <body>
            <section class="container principal">
                <div class="container__caixa">
        
                
            <section class="principal">
                   
            </section>
            
            
            <h1 class="container__titulo">Com o Combo+, você pode aproveitar a Alura+ e o Alura Língua por um preço único.</h1>
            <!-- AULA 3 COLOCAR IMAGEM COMBO.PNG-->
            <img src="img/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
            <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
            <!-- AULA 4 COLOCAR -->
            <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
            <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
            
                </div>
            </section>
        
            <section class="container secundario">
                
                <img src="img/plataformas.png" alt="Um monitor e um celular com o alura plus aberto" class="secundario__imagem">
                <div class="container__descricao">
                <h2 class="descricao__titulo">Assista do seu jeito</h2>
        
                <p class="descricao__texto">Aproveite a tela grande da TV
                    ou assista no tablet, laptop, celular e outros aparelhos.
                    Nossa seleção de cursos não para de crescer.</p>
        
                </div>
        
                
            </section>
        
            <section class="container secundario">
                <div class="container__descricao">
                <p class="descricao__texto">Só o Combo+ oferece Alura+ e Alura
                    Língua juntos para você ter acesso a cursos de diversas áreas
                    da  class="dispositivos__titulo">Disponível nos seus dispositivos favoritos</h2>
        
                    <ul class="dispositivos__lista">
                        <li>
                            <img src="img/tv.png" alt="ícone de televisão">
                       tecnologia e aprender inglês ou espanhol, onde e como quiser.</p>
                    <a href="www.alura.com.br" class="container__botao secundario__botao">Assinar o Combo+</a>
                </div>
                <img src="img/Telas.png" alt="Tela da Alura Plus e da Alura língua»" class="secundario__imagem">
        
                </section>
        
                <section class="container secundario">
                    <img src="img/Notebook.png" alt="Um monitor exibindo o site da Alura" class="secundario__imagem">
                    <div class="container__descricao">
                    <h2 class="descricao__titulo">Baixe seus cursos</h2>
                    <p class="descricao__texto">Baixe e assista quando e onde quiser. Assim, seus favoritos estão 
                    sempre com você, até mesmo sem internet.</p>
                     </div>
        
                </section>
        
        
                <section class="dispositivos">
                    <h2 class="dispositivos__titulo">Disponível nos seus dispositivos favoritos</h2>
        
                    <ul class="dispositivos__lista">
                        <li>
                            <img src="img/tv.png" alt="ícone de televisão">
                            <h3 class="lista__item">TV</h3>
                        </li>
        
                        <li>
                            <img src="img/computador.png" alt="ícone de Computador">
                            <h3 class="lista__item">Computador</h3>
                            31
                            </div>
                    32
                        </section>
                             </li>
        
                        <li>
                            <img src="img/celular.png" alt="ícone de celular">
                            <h3 class="lista__item">Celulares</h3>
                        </li>
        
        
                        </section>
        
        <footer class="rodape">
        
        <img src="img/Logo.png" alt="Aluta+" class="rodape_logo">
        
        <ul class="roda<!DOCTYPE html>
            2
            <html lang="en">
            3
            <head>
            4
                <title>Alura Plus</title>
            5
                <meta charset="UTF-8">
            6
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        7
                <link rel="stylesheet" href="style.css">
            8
            ​
            9
                <link rel="preconnect" href="https://fonts.googleapis.com">
            10
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            11
                <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
            12
            ​
            13
                
            14
            </head>
            15
            <body>
            16
                <sectio<!DOCTYPE html>
                    2
                    <html lang="en">
                    3
                    <head>
                    4
                        <title>Alura Plus</title>
                    5
                        <meta charset="UTF-8">
                    6
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    7
                        <link rel="stylesheet" href="style.css">
                    8
                    ​
                    9
                        <link rel="preconnect" href="https://fonts.googleapis.com">
                    10
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    11
                        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
                    12
                    ​
                    13
                    <!DOCTYPE html>
                    2
                    <html lang="en">
                    3
                    <head>
                    4
                        <title>Alura Plus</title>
                    5
                        <meta charset="UTF-8">
                    6
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    7
                        <link rel="stylesheet" href="style.css">
                    8
                    ​
                    9
                        <link rel="preconnect" href="https://fonts.googleapis.com">
                    10
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                11
                    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
                    12
                    ​
                    13
                        
                    14
                    </head>
                    15<!DOCTYPE html>
                    2
                    <html lang="en">
                    3
                    <head>
                    4
                        <title>Alura Plus</title>
                    5
                        <meta charset="UTF-8">
                    6
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    7
                        <link rel="stylesheet" href="style.css">
                    8
                    ​
                    9
                        <link rel="preconnect" href="https://fonts.googleapis.com">
                    10
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    11
                        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
                    12
                    ​
                    13
                        
                    14
                    </head>
                    15
                    <body>
                    16
                        <section class="container principal">
                    17
                            <div class="container__caixa">
                    18
                    ​
                    19
                            
                    20
                        <section class="principal">
                    21
                               
                    22
                        </section>
                    23
                        
                    24
                        
                    25
                        <h1 class="container__titulo">Com o Combo+, você pode aproveitar a Alura+ e o Alura Língua por um preço único.</h1>
                    26
                        <img src="img/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
                    27
                        <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
                    28
                        <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
                    29
                        <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
                    30
                        
                    31
                            </div>
                    32
                        </section>
                    33
                    </body>
                    34
                    </html>
                    <body>
                    16
                        <section class="container principal">
                    17
                            <div class="container__caixa">
                    18
                    ​
                    19
                            
                    20
                        <section class="principal">
                    21
                               
                    22
                        </section>
                    23
                        
                    24
                        
                    25
                        <h1 class="container__titulo">Com o Combo+, você pode aproveitar a Alura+ e o Alura Língua por um preço único.</h1>
                    26
                        <img src="img/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
                    27
                        <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
                    28
                        <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
                    29
                        <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
                    30
                        
                    31
                            </div>
                    32
                        </section>
                    33
                    </body>
                    34
                    </html> 
                    14
                    </head>
                    15
                    <body>
                    16
                        <section class="container principal">
                    17
                            <div class="container__caixa">
                    18
                    ​
                    19
                            
                    20
                        <section class="principal">
                    21
                               
                    22
                        </section>
                    23
                        
                    24
                        
                    25
                        <h1 class="container__titulo">Com o Combo+, você pode aproveitar a Alura+ e o Alura Língua por um preço único.</h1>
                    26
                        <img src="img/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
                    27
                        <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
                    28
                        <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
                    29
                        <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
                    30
                        
                    31
                            </div>
                    32
                        </section>
                    33
                    </body>
                    34
                    </html>n class="container principal">
            17
                    <div class="container__caixa">
            18
            ​
            19
                    
            20
                <section class="principal">
            21
                       
            22
                </section>
            23
                
            24
                
            25
                <h1 class="container__titulo">Com o Combo+, você pode aproveitar a Alura+ e o Alura Língua por um preço único.</h1>
            26
                <img src="img/Combo.png" alt="o combo+ é a junção do alura+ e o alura língua" class="container__imagem">
            27
                <a href="www.alura.com.br" class="container__botao">Asine por 12x de R$ 120,00</a>
            28
                <a href="www.alura.com.br" class="container__botao botao_secundario">Assine somente o Alura</a>
            29
                <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos.</p>
            30
                
            31
                    </div>
            32
                </section>
            33
            </body>
            34
            </html>pe lista">
        
        <li class="lista_link">
        
        <a href="#">Idioma</a>
        
        </li>
        
        <li class="lista_link">
        
        </li>
        
        <a href="#">dispositivos compativeis</a>
        
        
                        <li class="lista_link"> <a href="#">Contrato de assinatura</a>
        
        <li class="lista links <a href="#">Politica de privacidade</a>
        
        </li>
        
        <li class="lista___link">
        
        <a href="#">Proteção de dados no Brasil</a>
        
        </li>
        
        <li class="lista_link"></li> <a href="#">Anúncios personalizados</a>
        
        </li>
        
        <li class="lista link"></li>
        
        <a href="#">Ajuda</a>
        
        </li>
        
        </ul>
        
        <p class="rodape texto"> 2021 Alura, Alura+ e Alura Lingua. Todos os direitos reservados. Serviço de assinatura paga.
        
        Conteúdo sujeito a disponibilidade.
        
        </p>
        
        <p class="rodape_texto">Alura+ é um serviço pago, baseado em assinatura e sujeito a termos e
        
        condições.
        
        O serviço Alura+ é comercializado por Aovs Sistemas de Informática S.A., Rua Vergueiro, 3185-Liberdade, São Paulo - SP, 04101-300,
        
        Brasil e CNPJ 05.555.382/0001-33
        
        </p> <footer>
        
        </body>
        
        </html>
                        
        
        
        
        
                    
        
        flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
        
    }
    
    .dispositivos {
        text-align: center;
    
    }
    
    .lista__item {
        font-size: 32px;
        color:var(--branco-principal);
    
    }
    
    .rodape__lista{
        display:flex;
        justify-contentent:center;
        list-style-type:none;
        margin-top:1em;
    }
    
    .lista__link a{
        text-decoration:none;
        text-decoration:none;
        color:var(--branco-principal);
        margin:0 16px 0 16px;
        font-size: 14px;
    
    }
    
    .rodape__texto{
        margin:1em 0;
        color: var(--cinza-segundaria);
        font_size: 12px;
    }
    
    .rodape{
        text-aling:center;
        margin: 5em 3em;
    
    }
    
    .lista-link a:hove{
        color:var(--botoa-azul);
    
    }
    
    .lista__link a:active{
        color:purple;
    
    }
    
    .container__botao:hover{
        backgroud-color:var(--botao-azul-efeito);
        color:var(--cor-de-fundo);
    
    }
    */
    .lista__item{}
       font: ize 32px;
       color:va(--branco-principal)
       }
       .rodape__lista{
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 1em;
       }
       .lista-link a{
        text-decoration: none;
        text-decoration: none;
        color: var(--branco-principal);
        margin: 0 16px 0 16px;
        font-size: 14px;
       }
       .rodape__texto{
          margin: 1em 0;
          font-size: 14px;
       }
        .rodape__texto{
        margin: 1em 0;
        colo:var(--cinza-cundario);
        fonnt: iz 12px;
        }
         .rodape{
            text-align: center;
            margin: 5em 3em;
         }
        .lista-link a:hover
        color:var(--botao-azul):
        }
        .lista__link a:active}

